<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
       <a href="{{url_for ('cadastre')}}"></a> | 
       <a href="#">REGIÃO NORTE</a> | 
       <a href="#">REGIÃO NORDESTE</a> | 
       <a href="#">REGIÃO SUL</a> | 
       <a href="#">REGIÃO SUDESTE</a> | 
       <a href="#">REGIÃO CENTRO-OESTE</a> | 
       <a href="#">Fale conosco</a> | 
       <a href="#">Login</a> 
    </nav>

    <main>
        {% block conteudo %}
        {% endblock %}
    </main>

</body>
</html>