<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav>
   
    <a href="{{url_for('sul')}}">CADASTRAR CAPITAIS</a> | 
    <a href="{{url_for('sudeste')}}">FALE CONOSCO</a> | 
    <a href="{{url_for('centro-oeste')}}">LOGIN</a> | 
    <a href="{{url_for('centro-oeste')}}">BUSCAR</a> 
      
    </nav>

    <main>
        {% block conteudo %}
        {% endblock %}
    </main>

</body>
</html>
<!-- fazer -->
<!-- um html com formulário de cadastro das capitais -->
 <!-- e outra html com tabela listando as capitais cadastradas -->