{% extends "base.html" %}

{% block conteudo %}

    <div>
        <div>REGIÃO NORTE</div>
        <div>
            <div>
                <img src="imagens/mapa_regiao_norte.png" alt="Mapa da Região Norte" width="300">
            </div>
            <div>
                <p>A região Norte do Brasil é composta por 7 estados. São eles:</p>
                <ol>
                    <li>Acre (AC)</li>
                    <li>Amapá (AP)</li>
                    <li>Amazonas (AM)</li>
                    <li>Pará (PA)</li>
                    <li>Rondônia (RO)</li>
                    <li>Roraima (RR)</li>
                    <li>Tocantins (TO)</li>
                </ol>
            </div>
        </div>
        <div>Cadastre aqui, as CAPITAIS da Região NORTE.</div>
        <div>
            <button>CADASTRAR</button>
            <button>VOLTAR</button>
        </div>
    </div>


{% endblock %}



