
{% extends "base.html" %}

{% block conteudo %}

<div>
    <img src="imagens/sudeste.jpg" >
</div>

    <div class="descricao">
        <p>A região Sudeste do Brasil é composta por 4 estados. São eles:</p>
        <ol>
            <li>Espírito Santo (ES)</li>
            <li>Minas Gerais (MG)</li>
            <li>Rio de Janeiro (RJ)</li>
            <li>São Paulo (SP)</li>
        </ol>
    </div>
</div>
<div class="cadastro">
    <p>Cadastre aqui, as CAPITAIS da Região SUDESTE.</p>
    <button>CADASTRAR</button>
</div>


{% endblock %}
