{% extends "base.html" %}

{% block conteudo %}

    <div>
        <div>
            <h2>REGIÃO SUL</h2>
            <img src="imagens/sul.jpg" alt="Mapa da Região Sul" width="300">
        </div>
        <div>
            <p>A região Sul do Brasil é composta por 3 estados.<br>São eles:</p>
            <ol>
                <li>Paraná (PR)</li>
                <li>Rio Grande do Sul (RS)</li>
                <li>Santa Catarina (SC)</li>
            </ol>
        </div>
    </div>
    <div>
        <p>Cadastre aqui, as CAPITAIS da Região SUL.</p>
        <button>CADASTRAR</button>
    </div>
</body>
</html>

{% endblock %}
