
{% extends "base.html" %}

{% block conteudo %}


    <div>
        <div>REGIÃO NORDESTE</div>
        <div>
            <div>
                <img src="nordeste.jpg" alt="Mapa da Região Nordeste" width="300">
            </div>
            <div>
                <p>A região Nordeste do Brasil é composta por 9 estados. São eles:</p>
                <ol>
                    <li>Alagoas (AL)</li>
                    <li>Bahia (BA)</li>
                    <li>Ceará (CE)</li>
                    <li>Maranhão (MA)</li>
                    <li>Paraíba (PB)</li>
                    <li>Pernambuco (PE)</li>
                    <li>Piauí (PI)</li>
                    <li>Rio Grande do Norte (RN)</li>
                    <li>Sergipe (SE)</li>
                </ol>
            </div>
        </div>
        <div>Cadastre aqui, as CAPITAIS da Região NORDESTE.</div>
        <div>
            <button>CADASTRAR</button>
            <button>VOLTAR</button>
        </div>
    </div>

{% endblock %}
